<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">video ID</label>
            <input type="text" class="form-control" name="videoId">
        </div>
        
        
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>